.container {
  width: min(900px, 90%);
  margin-top: 2rem;
  margin-inline: auto;
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
  }
}

.leftSide {
  flex: 1 1 60%;
}

.rightSide {
  flex: 1 1 30%;
}
